.MainWindow {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.MainWindow > * {
  width: calc(100vw / 2);
  flex: 1;
}

@media screen and (max-width:1000px) {
  .MainWindow {
    flex-direction: column;
  }

  .MainWindow > * {
    width: 100%;
    height: 50%;
  }
}
