textarea {
  flex: 1;
  resize: none;
  margin: 5px;
  margin-right: 10px;

  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;

  -webkit-box-shadow: inset 2px 2px 2px 0px var(--black);
  -moz-box-shadow: inset    2px 2px 2px 0px var(--black);
  box-shadow: inset         2px 2px 2px 0px var(--black);
  height: 200px;
  margin: 10px;
  overflow: auto;
  padding: 7px 10px;
  font-family: tahoma;
  font-size: 13px;
  border: 2px solid var(--white);
  background-color: var(--color-2);
}

.EditorContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.frontSide {
  height: 20%;
  display: flex;
  flex-direction: column;
}

.backSide {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footerMenu {
  height: 15%;
  display: flex;
  flex-direction: column;
}

.btnMenu {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10px;
}
